<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" href="../static/LogoS.png" type="image/png">
</head>
<body>
  <header>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="../static/Logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('servicio')}}">Servicio</a></li>
            <li><a href="{{ url_for('nosotros')}}">Nosotros</a></li>
        </ul>
    </nav>
  </header>
    <h1>poner algo</h1>
</body>
</html>